<!doctype html>
<html>
  <head>
    <title>bla project</title>
  </head>
  <body>
    <p >Hello, welcome to the poc to prod project</p>
    <p>All tests are good, but the predict function is still not working, i don't know why? .</p>
  <ul>
  <li style="color: green ;"> Test utils and embeddings are OK </li>
  <li style="color: green ;"> Test predict is OK </li>
  <li style="color: green ;"> Test model train is OK </li>
    <li style="color: red ;"> Test model train is OK </li>
</ul>
  </body>
</html>